html
  head
    link(rel='stylesheet', href='/stylesheets/cast.css')
    .wrapper
      .one
        header
          center
            span.cast
              | Cast of
            br
            span.fefu
              i #{title}
            br
            span.order
              | in order of appearance
            br
      .two
        ul.leaders(style='font-size:200%; font-family:optima;')
          each val in cast
            li
              span= val.role
              span= val.people
      .three
        p.triple
        p.single
          br
      .four
        center
          p.double(style='font-size:190%; font-family:optima;')
            | #{setting}
            br
            each val in acts
              | #{val.act} #{val.location}
              br
