html
  head
    link(rel='stylesheet', href='/stylesheets/fefu.css')
  body
    .wrapper
      .one
        .flex-container
          header
            h1
              center Brandeis Department of Theater Arts
      .two
        center
          p(style='font-size:160%; font-family:optima;')
            | #{chair}
            br
            |       Chair
      .three
        center
          p(style='font-size:160%; font-family:optima;')
            | #{artisticDirector}
            br
            |        Artistic Director
      .four
        center
          p(style='font-size:300%; font-family:optima;')
            | presents
      .five
        center
          h1(style='font-size:650%; font-family:Book Antiqua;')
            i #{title}
      .six
        center
          p(style='font-size:400%; font-family:Verdana;')
            | by #{playwright}
          p(style='font-size:300%; font-family:Verdana;')
            | Directed by #{director}
          p(style='font-size:230%; font-family:Verdana;')
            | Scenic Design by Cameron Anderson
            br
            br
            |         Costume Design by Mary Hurd
            br
            br
            |         Lighting Design by Jeff Adelberg
            br
            br
            |         Sound Design and Original Music by Dewey Dellay
            br
            br
            |         Stage Managed by Hannah Uher
  footer
    center
      h1
        | FEFU AND HER FRIENDS (SINGLE STAGE VERSION) is produced
        br
        |       by special arrangement with Broadway Play Publishing Inc, NYC
        br
        br
        |       www.broadwayplaypub.com
