html
  head
    link(rel='stylesheet', href='/stylesheets/friends.css')
    .wrapper
      .one
        .flex-container
          header(style='font-size:275%; font-family:optima;')
            center
              i
                b  Friends of Theater Arts
          p(style='font-size:130%; font-family:optima;')
            | The Brandeis Department of Theater Arts extends heartfelt thanks to those
            | who have generously contributed to support theater at Brandeis.
      .two
        .row
          .column
            // style="background-color:#aaa;"
            p(style='font-size:185%; font-family:optima;')
              b Producer's Circle ($10,000+)
            p(style='font-size:130%; font-family:optima;')
              each val in producerCircle
                | #{val.donor}
                br
                br
            p(style='font-size:185%; font-family:optima;')
              b Playwrights Circle ($2,500 -$4,999)
            p(style='font-size:130%; font-family:optima;')
              each val in playwrightCircle
                | #{val.donor}
                br
                br
            p(style='font-size:185%; font-family:optima;')
              b Designers Circle ($1,000 - $2,499)
            p(style='font-size:130%; font-family:optima;')
              each val in designerCircle
                | #{val.donor}
                br
                br
            p(style='font-size:185%; font-family:optima;')
              b Artists Circle ($500 - $999)
            p(style='font-size:130%; font-family:optima;')
              each val in artistCircle
                | #{val.donor}
                br
                br
            p(style='font-size:185%; font-family:optima;')
              b Leading Role ($250 - $499)
            p(style='font-size:130%; font-family:optima;')
              each val in leadingRole
                | #{val.donor}
                br
                br
            p(style='font-size:185%; font-family:optima;')
              b Supporting Role ($100 - $249)
            p(style='font-size:130%; font-family:optima;')
              each val in supportingRole
                | #{val.donor}
                br
                br

          .column
            // style="background-color:#bbb;"
            p(style='font-size:130%; font-family:optima;')
              each val in supportingRole2
                | #{val.donor}
                if val.inHonor != ''
                  i  #{val.inHonor}
                br
                br
            p(style='font-size:185%; font-family:optima;')
              b Arts Patron (up to $99)
            p(style='font-size:130%; font-family:optima;')
              each val in artParton
                | #{val.donor}
                if val.inHonor != ''
                  i  #{val.inHonor}
                br
                br
      .three
        center
          p(style='font-size:500%; font-family:optima;')
            | .........................................
        p(style='font-size:150%; font-family:optima;')
          | #{notes}
      .four
        p.double(style='font-size:150%; font-family:optima;')
          | #{comments}
