html
  head
    link(rel='stylesheet', href='/stylesheets/title.css')
  body
    .wrapper
      .one
        .flex-container
          header
            h1
              center Brandeis Department of Theater Arts
      .two
        center
          p(style='font-size:160%; font-family:optima;')
            | #{chair}
            br
            |       Chair
      .three
        center
          p(style='font-size:160%; font-family:optima;')
            | #{artisticDirector}
            br
            |        Artistic Director
      .four
        center
          p(style='font-size:300%; font-family:optima;')
            | presents
      .five
        center
          h1(style='font-size:650%; font-family:Book Antiqua;')
            i #{title}
      .six
        center
          p(style='font-size:400%; font-family:Verdana;')
            | by #{playwright}
          p(style='font-size:300%; font-family:Verdana;')
            | Directed by #{director}
          p(style='font-size:230%; font-family:Verdana;')
            | Scenic Design by #{scenicDesigner}
            br
            br
            |         Costume Design by #{costumeDesigner}
            br
            br
            |         Lighting Design by #{lightingDesigner}
            br
            br
            |         Sound Design and Original Music by #{soundDesigner}
            br
            br
            |         Stage Managed by #{stageManager}
  footer
    center
      h1
        | #{title} is produced
        br
        |       by special arrangement with #{publisher}
        br
        br
        |       www.broadwayplaypub.com
